.container-form {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 60vh;
}

.container-form svg {
  color: white;
  font-size: 40px;
  transition: color;
  transition-duration: 0.5s;
}

.container-form svg:hover {
  color: #273b7a;
}

.footer-text {
  font-family: "Rock Salt", cursive;
  color: #273b7a;
  font-size: 15px;
  text-align: right;
  width: 25%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  margin-bottom: 25px;
  font-family: "Gloria Hallelujah", cursive;
}

.form button {
  font-family: "Rock Salt", cursive;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #273b7a;
  width: 10vw;
  height: 5vh;
}

.form button:hover {
  background-color: #476adc;
}

.github {
  margin: 0 20px;
}

div.sigle-input {
  width: 100%;
  margin: 15px 0;
  position: relative;
}

div.sigle-input label {
  font-size: 16px;
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: rgb(150, 150, 150);
  font-family: "Gloria Hallelujah", cursive;
  cursor: text;
  transition: 0.5s ease-in-out;
}

div.sigle-input .input {
  width: 20vw;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  color: rgb(150, 150, 150);
  border: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  outline: none;
  font-size: 16px;
}

div.sigle-input .input:focus,
div.sigle-input .input:valid {
  border-bottom: 4px solid #273b7a;
}

div.sigle-input .input:focus ~ label,
div.sigle-input .input:valid ~ label {
  transform: translateY(-30px);
  font-size: 12px;
}

.textarea {
  margin: 14px 0;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  height: 15vh;
  width: 20vw;
  resize: none;
  font-family: "Gloria Hallelujah", cursive;
  outline: none;
  transition: 0.3s ease-in-out;
}

.textarea:focus,
.textarea:valid {
  border-bottom: 4px solid #273b7a;
}

.developer {
  color: rgb(193, 191, 191);
  border-top: solid 1px rgb(193, 191, 191);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 13px;
}

@media screen and (max-width: 380px) {
  .container-form {
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  .form h2 {
    margin-bottom: 25px;
    font-size: 17px;
    font-family: "Gloria Hallelujah", cursive;
  }

  .footer-text {
    font-family: "Rock Salt", cursive;
    color: #273b7a;
    font-size: 10px;
    text-align: center;
    width: 80%;
  }

  div.sigle-input .input {
    width: 60vw;
    height: 6vh;
    font-size: 16px;
  }

  .textarea {
    font-size: 12px;
    height: 15vh;
    width: 60vw;
  }

  .form button {
    width: 25vw;
    height: 5vh;
    font-size: 10px;
  }

  .developer {
    font-size: 10px;
  }
}

@media screen and (min-width: 380px) and (max-width: 410px) {
  .container-form {
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  .form h2 {
    margin-bottom: 25px;
    font-size: 17px;
    font-family: "Gloria Hallelujah", cursive;
  }

  .footer-text {
    font-family: "Rock Salt", cursive;
    color: #273b7a;
    font-size: 10px;
    text-align: center;
    width: 80%;
  }

  div.sigle-input .input {
    width: 60vw;
    height: 6vh;
    font-size: 16px;
  }

  .textarea {
    font-size: 12px;
    height: 15vh;
    width: 60vw;
  }

  .form button {
    width: 25vw;
    height: 5vh;
    font-size: 10px;
  }

  .developer {
    font-size: 10px;
  }
}

@media screen and (min-width: 410px) and (max-width: 760px) {
  .container-form {
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  .form h2 {
    margin-bottom: 25px;
    font-size: 17px;
    font-family: "Gloria Hallelujah", cursive;
  }

  .footer-text {
    font-family: "Rock Salt", cursive;
    color: #273b7a;
    font-size: 12px;
    text-align: center;
    width: 70%;
  }

  div.sigle-input .input {
    width: 70vw;
    height: 6vh;
    font-size: 16px;
  }

  div.sigle-input .input:focus ~ label,
  div.sigle-input .input:valid ~ label {
    transform: translateY(-50px);
  }

  .textarea {
    font-size: 12px;
    height: 15vh;
    width: 70vw;
  }

  .form button {
    width: 30vw;
    height: 5vh;
    font-size: 10px;
  }

  .developer {
    font-size: 12px;
  }
}

@media screen and (min-width: 460px) and (max-width: 760px) {
  .container-form {
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  .form h2 {
    margin-bottom: 25px;
    font-size: 17px;
    font-family: "Gloria Hallelujah", cursive;
  }

  .footer-text {
    font-family: "Rock Salt", cursive;
    color: #273b7a;
    font-size: 12px;
    text-align: center;
    width: 70%;
  }

  div.sigle-input .input {
    width: 70vw;
    height: 6vh;
    font-size: 16px;
  }

  div.sigle-input .input:focus ~ label,
  div.sigle-input .input:valid ~ label {
    transform: translateY(-50px);
  }

  .textarea {
    font-size: 12px;
    height: 15vh;
    width: 70vw;
  }

  .form button {
    width: 30vw;
    height: 5vh;
    font-size: 10px;
  }

  .developer {
    font-size: 10px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .container-form {
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  .form h2 {
    margin-bottom: 25px;
    font-size: 30px;
    font-family: "Gloria Hallelujah", cursive;
  }

  .footer-text {
    font-family: "Rock Salt", cursive;
    color: #273b7a;
    font-size: 18px;
    text-align: center;
    width: 70%;
  }

  div.sigle-input .input {
    width: 60vw;
    height: 6vh;
    font-size: 16px;
  }

  div.sigle-input label {
    font-size: 20px;
  }

  div.sigle-input .input:focus ~ label,
  div.sigle-input .input:valid ~ label {
    transform: translateY(-65px);
  }

  .textarea {
    font-size: 20px;
    height: 15vh;
    width: 60vw;
  }

  .form button {
    width: 30vw;
    height: 5vh;
    font-size: 10px;
  }

  .developer {
    font-size: 12px;
  }

  .container-form svg {
    font-size: 50px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
}
