.container-hards {
  display: flex;
  align-items: center;
  height: 60vh;
}

.hards {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  background-color: #030c15;
  display: flex;
  overflow-x: hidden;
}

.hards img {
  width: 8%;
  margin: 20px 10px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.hards img {
 position: relative;
 animation: slide 10s infinite linear;
}

@keyframes slide {
  0% {left: 0px}
  50% {left: -200px}
  100% {left: -450px}
}

@media screen and (max-width: 767px) {
  .container-hards {
    margin-bottom: 160px;
    height: 10vh;
  }

  .hards img {
    width: 15%;
  }
}

@media screen and (min-width: 767px) and (max-width: 867px) {
  .container-hards {
    margin: 160px 0;
    height: 10vh;
  }

  .hards img {
    width: 10%;
  }
}
