.container-hards {
  display: flex;
  align-items: center;
  height: 60vh;
}

.hards {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  background-color: #030c15;
  display: flex;
  overflow-x: hidden;
}

.hards img {
  width: 8%;
  margin: 20px 10px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .container-hards {
    height: 10vh;
  }

  .hards img {
    width: 15%;
  }
}
