.container-about {
  display: flex;
  height: 100vh;
  width: 100%;
}

.aboutme {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.aboutme h2 {
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Rock Salt', cursive;
   font-size: 45px;
   width: 35%;
}


.line-about {
    height: 70vh;
    width: 1px;
    background-color: white;
}

.aboutme p {
    color: rgb(75, 74, 74);
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;
    width: 35%;
    font-size: 30px;
 }

 @media screen and (max-width: 380px) {
    .container-about {
        display: flex;
        height: 65vh;
      }

    .aboutme {
        margin: auto;
        width: 90%;
    }
    
    .aboutme h2 {
       font-size: 14px;
    }
    
    
    .line-about {
        height: 20vh;
    }
    
    .aboutme p {
        font-size: 10px;
     }
    
 }

 @media screen and (min-width: 380px) and (max-width: 460px) {
    .container-about {
        display: flex;
        height: 60vh;
      }

    .aboutme {
        margin: auto;
        width: 90%;
    }
    
    .aboutme h2 {
       font-size: 14px;
    }
    
    
    .line-about {
        height: 20vh;
    }
    
    .aboutme p {
        font-size: 10px;
     }
    
 }

 @media screen and (min-width: 767px) and (max-width: 1023px) {
    .container-about {
        height: 60vh;
      }

    .aboutme {
        margin: auto;
        width: 90%;
    }
    
    .aboutme h2 {
       font-size: 25px;
    }
    
    
    .line-about {
        height: 20vh;
    }
    
    .aboutme p {
        font-size: 15px;
     }
    
 }

 @media screen and (min-width: 1024px) and (max-width: 1200px){
    .container-about {
        height: 65vh;
      }

    .aboutme {
        margin: auto;
        width: 90%;
    }
    
    .aboutme h2 {
       font-size: 30px;
    }
    
    
    .line-about {
        height: 20vh;
    }
    
    .aboutme p {
        font-size: 20px;
     }
 }